@page
@model Quiz_Application2.Pages.QuizPage.DeleteQuizzesModel
@{
    ViewData["Title"] = "Delete Quiz";

}

<h2>Delete This Quiz ?</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="newQuiz.Title">Title</label>
        <input asp-for="newQuiz.Title" class="form-control" />
        <span asp-validation-for="newQuiz.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="newQuiz.Description">Description</label>
        <textarea asp-for="newQuiz.Description" class="form-control"></textarea>
        <span asp-validation-for="newQuiz.Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger mt-2">Delete Quiz</button>
    <a asp-page="/QuizPage/Quizzes" class="btn btn-secondary mt-2">Back</a>

</form>



        
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

