@page
@model Quiz_Application2.Pages.QuizPage.QuizIndexModel
@{
    ViewData["Title"] = "Quiz Collection"; 
}


<div class="text-center mb-5">
    <h2>Quiz Collection</h2>
    <p>Welcome to the Quiz Collection page! Here you can find a variety of quizzes to test your knowledge.</p>
</div>

@if (Model.Quizzes == null || !Model.Quizzes.Any())
{
    <div class="alert alert-danger text-center">
        <strong>No quizzes available at the moment.</strong>
    </div>
}
else
{
    <div class="container-sm">
        <div class="row g-4">
            @foreach (var quiz in Model.Quizzes)
            {
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <div class="border rounded shadow-sm h-100 d-flex flex-column">
                        <div class="border-bottom p-3 text-center">
                            <span class="fw-bold">@quiz.Title</span>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-between p-3">
                            <span class="mb-3">@quiz.Description</span>
                            <a asp-page="/QuizPage/QuizDetails" asp-route-id="@quiz.Id" class="btn btn-primary w-100">Take Quiz</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}