@page
@model IndexModel
@{
    ViewData["Title"] = "Online Quiz";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Quiz Application</h1>
    <p>Create, manage and take quizzes online.</p>
</div>


<div class="container d-flex justify-content-center">
   <a class="btn btn-primary" asp-page="/QuizPage/QuizIndex">Go To Quiz</a>
</div>







